#heading {
    font-family: 'Righteous', cursive;
    font-size: 5.2vw;
    ;
    color: white;
    margin: 0%;
  }
  
  #me {
    font-size: 200%;
    margin-top: 0.2%;
    margin-bottom: 0%;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 200%;
  
  }
  
  #red {
    color: red;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 100%;
    margin: 0%;
  }
  
 
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .image {
    border-radius: 50%;
  }
  
  
  .link1 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2.8vw;
    color: inherit;
    margin: 0px 5px 0px 5px;
    transition: 0.5s;
    color: white;
  }
  
  .link1:hover {
    color: #ec0000;
  }
  
  @media screen and (max-width: 785px) {
    .header1 {
      font-size: 8vw;
    }
  
    .link1 {
      font-size: 4vw;
    }
  
    #heading {
      font-family: 'Righteous', cursive;
      font-size: 300%;
      color: white;
      margin: 0%;
    }
  
    #me {
      font-size: 100%;
      margin-top: 0.2%;
      margin-bottom: 0%;
      font-family: 'Ubuntu Mono', monospace;
    }
  
    #red {
      color: red;
      font-family: 'Ubuntu Mono', monospace;
      font-size: 90%;
      margin: 0%;
    }
  }
  
  @media screen and (max-width: 765px) {
    body {
      text-align: center;
    }
  
    .header1 {
      font-size: 9vw;
    }
  
    .header2 {
      font-size: 2.5vw;
    }
  
    .link1 {
      font-size: 5vw;
    }
  
    #heading {
      font-family: 'Righteous', cursive;
      font-size: 500%;
      color: white;
      margin: 0%;
    }
  
    #me {
      font-size: 200%;
      margin-top: 0.2%;
      margin-bottom: 0%;
      font-family: 'Ubuntu Mono', monospace;
    }
  
    #red {
      color: red;
      font-family: 'Ubuntu Mono', monospace;
      font-size: 110%;
      margin: 0%;
    }
  }
  
  
  @media screen and (min-width: 1390px) {
    .header2 {
      font-size: 1.1vw;
    }
  
    #heading {
      font-family: 'Righteous', cursive;
      font-size: 500%;
      color: white;
      margin: 0%;
    }
  
    #me {
      font-size: 200%;
      margin-top: 0.2%;
      margin-bottom: 0%;
      font-family: 'Ubuntu Mono', monospace;
    }
  
    #red {
      color: red;
      font-family: 'Ubuntu Mono', monospace;
      font-size: 110%;
      margin: 0%;
      animation: flicker 5.843s infinite linear !important;
  
    }
  }
  
  
  
  




.glitch {
  color: rgb(223, 191, 191);
  position: relative;
  font-size: 9vw;
  // margin: 70px 200px;
  animation: glitch 5s 5s infinite;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1%{
    transform: rotateX(10deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
}

.scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.05) .5%,
    transparent 1%
  );

  animation: fudge 7s ease-in-out alternate infinite;
}


@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}

.glow {
  @extend .glitch;
  text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  position: absolute;
  top: 0;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: .8vw;
  color: rgba(165, 141, 141, .4);
  text-transform: uppercase;
  letter-spacing: 1em;
  text-align: center;
  position: absolute;
  left: 17%;
  animation: glitch-2 5s 5.02s infinite;
}

@keyframes glitch-2 {
  1%{
    transform: rotateX(10deg) skewX(70deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

#heading {
  text-align: center;
  color: #fff;
  font-size: 5em;
  letter-spacing: 8px;
  font-family: 'Press Start 2P';
  font-weight: 400;
  /*Create overlap*/
  
  margin-bottom: 20%;
  margin-top: 20%;
  line-height: 0;
  /*Animation*/
  
  animation: glitch1 2.5s infinite;
}

#heading:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

#heading:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

